<footer
    class="container nav flex-md-row flex-column  justify-content-md-between align-items-md-center align-items-start bg-white py-md-0 py-10 px-md-0 px-10">
    <div class="navbar-brand ">
        <a class="nav-link text-black fs-4 font-shrikhand mb-0 pb-0 ps-0" href="index.html" class="">ALPHABOX+</a>
        <p class="fw-bold d-md-block d-none">Copyright © 2023 Hexschool.</p>
    </div>
    <img class="" src="/assets/images/emergency.svg" alt="">

    <ul class="nav flex-md-row flex-column">
        <li class="nav-item">
            <a href="#" class="nav-link text-black fw-bold">關於我們</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-black fw-bold">產品資訊</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-black fw-bold">常見問題</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-black fw-bold">隱私政策</a>
        </li>
    </ul>
    <p class="fw-bold d-md-none d-block">Copyright © 2023 Hexschool.</p>
</footer>